<th:block
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{../layout/template}">

    <div class="container" layout:fragment="content">
        <form th:action="@{'/admin/upload?'+${_csrf.parameterName}+'='+${_csrf.token}}"
              enctype="multipart/form-data" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="form-group">
                <input multiple type="file" name="files" id="files" class="form-control" />
            </div>
            <button type="submit" name="" class="btn btn-primary">Upload</button>
            <button type="button" name="ajax" class="btn btn-primary">Upload by ajax</button>
        </form>
    </div>

    <th:block layout:fragment="pageScript">
        <script th:src="@{/page-script.js}"></script>
        <script>
            $('button[name=ajax]').click(function () {
                //var fileData = $('#images').prop('files')[0];
                //var type = fileData.type;
                let match = ["image/gif", "image/png", "image/jpg",];
                let data = new FormData();

                data.append('msg', 'let upload for me');
                let files = document.getElementById('files').files;
                for (let i = 0; i < files.length; i++) {
                    data.append('files', files[i]);
                }
                $.ajax({
                    url: '/admin/upload-ajax',
                    dataType: 'text',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: data,
                    type: 'post',
                    success: function (res) {
                        console.log(res);
                    }
                });
            });
        </script>
    </th:block>

</th:block>

